a {
    text-decoration: none;
}

footer a {
    color: inherit;
    text-decoration: underline;
}

footer a:hover {
    color: inherit;
    color: white;
}

a:hover {
    text-decoration: underline;
}

strong {
    font-weight: 600;
}

blockquote {
    background-color: #f6f8fa;
    border-left: 5px solid #dfe2e5;
    padding: 1em;
}

blockquote p {
    margin-bottom: 0px;
}

table {
    margin: 2em;
}

td {
    border: 1px solid #dfe2e5;
    padding: .4em;
}

th {
    background-color: #f6f8fa;
    border: 1px solid #dfe2e5;
    font-weight: 600;
    padding: .4em;
}

h1 {
    font-size: 2em;
    border-bottom: 1px solid #eaecef;
    padding-bottom: 0.2em;
}

h1 a {
    color: black;
    text-decoration: none;
}

h1 a:hover {
    color: black;
    text-decoration: underline;
}

h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #eaecef;
    padding-bottom: 0.2em;
}

h2 a {
    color: black;
    text-decoration: none;
}

h2 a:hover {
    color: black;
    text-decoration: underline;
}

h3 {
    font-size: 1.3em;
    padding-bottom: 0.2em;
}

h3 a {
    color: black;
    text-decoration: none;
}

h3 a:hover {
    color: black;
    text-decoration: underline;
}

.center {
    margin: auto;
    text-align: center;
}

.menuButton {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none !important;
}

.menuButton:hover {
    background-color: #00000033;
    border-color: transparent;
}

.markdownImage {
    max-width: 100%;
}

.prettyprint {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: .5em !important;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #ddd !important;
    font-size: 14px;
    line-height: 150%;
    overflow-x: auto;
}