<html>

<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{templateUrl}}/md2html.css">
    <link rel="stylesheet" type="text/css" href="{{templateUrl}}/style.css">
    <script async src='https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js'></script>
</head>

<body>

    <header>
        <h1><a href='/'>Sample Website</a></h1>
        <h3>Yep, it works!</h3>
    </header>

    <div class="contentHolder">
        {{content}}
    </div>

    <footer>
        <div id="footerBlock">
            {{footer}}
        </div>
    </footer>

</body>

</html>