#md2html {
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 16;
    line-height: 150%;
    margin: 0px;
}

#md2html a {
    text-decoration: none;
    color: #0366d6;
}

#md2html a:hover {
    text-decoration: underline;
    opacity: 1 !important;
}

#md2html strong {
    font-weight: 600;
}

#md2html em {
    /*font-weight: 600;*/
    font-style: italic;
}

#md2html .anchorLink {
    position: relative;
    color: black;
    opacity: 0;
}

#md2html .anchorLink a:active {
    opacity: 1 !important;
}

#md2html .anchorText {
    position: relative;
}

#md2html h1 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 2em;
    font-weight: 600;
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
    text-indent: -.5em;
}

#md2html h2 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 1.5em;
    font-weight: 600;
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
    text-indent: -.5em;
}

#md2html h3 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 1.25em;
    font-weight: 600;
    text-indent: -.5em;
}

#md2html h4 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 1em;
    font-weight: 600;
    text-indent: -.5em;
}

#md2html h5 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: .875em;
    font-weight: 600;
    text-indent: -.5em;
}

#md2html h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: .85em;
    font-weight: 600;
    color: #6a737d;
    text-indent: -.5em;
}

#md2html code {
    background-color: #F6F4F8;
    padding: .2em .4em;
    font-size: 85%;
}

#md2html pre code {
    background-color: transparent;
    padding: 0;
    font-size: 100%;
}

#md2html p {
    line-height: 1.5;
}

.prettyprint {
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #ddd !important;
    font-size: 14px;
    line-height: 150%;
    overflow-x: auto;
}

#md2html blockquote {
    background: #f6f8fa;
    padding: 1em;
    border-left: 5px solid #dfe2e5;
}

#md2html blockquote p {
    margin: 0;
    padding: 0;
}

#md2html table {
    border-collapse: collapse;
    margin: 2em;
}

#md2html th {
    border: 1px solid #dfe2e5;
    background: #f6f8fa;
    font-weight: 600;
    padding: 10px;
}

#md2html td {
    border: 1px solid #dfe2e5;
    padding: 10px;
}

#md2html img {
    max-width: 100%;
}