body {
    background-color: #F6F4F8;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 16;
    line-height: 150%;
    margin: 0px;
}

#pageAboveArticle {
    background-color: #eeeeee; /* customize this in HTML */
}

#pageUnderArticle {
    background-color: #eeeeee; /* customize this in HTML */
    height: 20rem;
    position: absolute;
    left: 0;
    right: 0;
}

#headerBlock {
    color: white;
    margin: auto;
    padding-bottom: 1.5em;
    max-width: 900px;
    margin: auto;
}

#headerBlock .title {
    font-size: 3em;
    line-height: 1em;
    margin-top: 1em;
}

#headerBlock .title a {
    text-decoration: none;
    color: #F6F4F8;
}

#headerBlock .title a:hover {
    text-decoration: underline;
}

#headerBlock .subtitle {
    opacity: .5;
    line-height: 1.5em;
}

#headerMenu {
    color: #F6F4F8;
    width: 100%;
    text-align: right;
    font-size: 1.4em;
    padding-top: .5em;
}

#headerMenu .menuButton {
    display: inline;
}

#githubButtonWrapper {
    float: right;
    position: relative;
    top: -20px;
}

@media only screen and (max-width: 500px) {
    /* make the menu easier to hit if using mobile */
    #headerMenu {
        margin-bottom: 1em;
        text-align: right;
    }
    #headerMenu .menuButton {
        line-height: 250%;
        background-color: rgba(0, 0, 0, .2);
        padding: .5em;
        text-decoration: none;
        color: #F6F4F8;
    }
    #githubButtonWrapper {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 0;
        width: 0%;
        display: none;
    }
    #headerBlock {
        padding: 1em;
    }
}

#headerMenu .menuButton a {
    /*font-size: 1.2em;*/
    text-decoration: none;
    color: #F6F4F8;
    padding: .5em 1em .5em 1em;
}

#headerMenu .menuButton a:hover {
    color: white;
    background-color: rgba(0, 0, 0, .5);
}

#headerMenu a:active {
    background-color: rgba(0, 0, 0, .2);
}

article {
    background-color: white;
    margin: auto;
    max-width: 900px;
    min-height: 100%;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .05);
    z-index: 1;
    position: relative;
    padding: 1em;
    border-top: 3px solid rgba(0, 0, 0, .2);
}

footer {
    margin-top: 5em;
    background-color: #2a2a2a;
    color: #999;
}

footer a {
    color: #999;
}

footer a:hover {
    color: white;
}

#footerBlock {
    padding: 1em;
    margin: auto;
    text-align: center;
}