Options +Indexes
IndexOptions +FancyIndexing

# route file requests to index.php
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L]

# serve .md files as text
AddType text/plain md