RewriteEngine On

# serve Markdown files as plain text
AddType text/plain .md

# if the request is a file that exists, serve it
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.+) - [PT,L]

# if the request is a directory with readme.md, use md2html
RewriteCond %{REQUEST_FILENAME} -d 
RewriteCond %{REQUEST_FILENAME}/readme.md -f
RewriteRule ^(.*)$ md2html/server.php  [L]

# if the request is a directory without readme.md, display the directory index
RewriteCond %{REQUEST_FILENAME} -d 
RewriteRule ^(.+) - [PT,L]

# all other requests get routed to md2html
RewriteRule ^(.*)$ md2html/server.php  [L]