RewriteEngine On

# disallow reading the config file
RewriteRule md2html/config.ini - [F,L]

# serve Markdown files as plain text
#AddType text/plain md

# force Markdown files to be downloaded
AddType application/octet-stream md

# if the request is a file that exists, serve it
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.+) - [PT,L]

# if the request is a directory with readme.md, use md2html
RewriteCond %{REQUEST_FILENAME} -d 
RewriteCond %{REQUEST_FILENAME}/readme.md -f
RewriteRule ^(.*)$ md2html/server.php  [L]

# if the request is a directory without readme.md, display the directory index
RewriteCond %{REQUEST_FILENAME} -d 
RewriteRule ^(.+) - [PT,L]

# all other requests get routed to md2html's server.php
RewriteRule ^(.*)$ md2html/server.php  [L]